@import url('https://fonts.googleapis.com/css?family=Open+Sans');



/* -- Header css -- */

/* which page you are on */
.imhere{
background-color: #333;
color: #fff;
padding: 2px 3px;
}

.sticky{
position: fixed;
top: 0; 
z-index:100;
width:100%;
background-color:#fff;
text-align:center;
}


/* Add a white background color to the top navigation */
.topnav {
    overflow: hidden;
	background-color: #fff;
	margin-left:20%;
}



/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #000;
    padding: 22px 20px;
	font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: .9em;
}

/* Change the color of links on hover */
.topnav a:hover {

    color: #ccc;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}


/* sets up header image and background color of div */
.logoimage{
width: 100%;
height: 108px;
background-color: #333;
margin-top:-110px;
position: absolute;
z-index: 1;
}

/* for adjusting logo image */
.logoimagecenter{
    margin-left:50%;	
	margin-top:-70px;
	width:158px;
	height:108px;
}

/* Add a black background color to the top navigation */
.centertext{
text-align: center;
color: #fff;
}


/* adjusts logo image */
.logoimageposition{
margin-left:-179px;

}

/* -- END Header css -- */


/* -- FIRST PAGE "WHO WE ARE" css -- */

.whoweare{
width: 100%;
text-align: center;
margin-top:50px;
padding-bottom:50px;
float:left;
background-color: #fff;
}

.whoweare h1{
font-size: 3em;
}

.whoweare  p{
width: 70%;
margin-left:auto;
margin-right:auto;
}

.seeusplay{
width: 90%;
margin-top:75px;
margin-left:auto;
margin-right:auto;
background-color: #F03828;
}

.seeusplay h2{
text-align: center;
padding-top:20px;
color: #fff;
}

.seeusplay a{
text-decoration:  none;
}

.seeusplay a:hover{
color: #ccc;
}

.seeusplay p{
padding-top:10px;
padding-bottom:40px;
padding-left:15px;
padding-right:15px;
}

.shows{
width: 90%;
margin-top:-20px;
margin-left:5%;
margin-bottom:50px;
border-style: solid;
border-color: #F03828;
border-width: 1px;
float:left;
}



.circlelink{
background-color: #333;
text-align: center;
}

.circlelink a{
color:#fff;
text-decoration:  none;
}

.circlelink:hover{
background-color: #ccc;
}

.circlelinktop{
padding-top:20px;
}

.circlelinkmiddle{
width: 60%;
margin-top:-8px;
margin-left:auto;
margin-right:auto;
}

.circlelinkbottom{
margin-top:-8px;
font-size: .75em;
}

.showlist{
margin-top:5px;
margin-bottom:50px;
width: 80%;
float:left;
}

.showlisttext{
background-color: #fff;
width: 80%;
margin-left:auto;
margin-right:auto;
}

.showlisttext th{
padding-top:15px;
text-align:left;
}

.showlisttext th td{
width: 25%:
}

.twovideocontainer{
width:100%;
float:left;
margin-bottom:25px;
}

.video{
width: 95%;
height: 400px;
margin-left:auto;
margin-right:auto;
}

.music {  
float:left;
margin-top:30px;
margin-left:5%;
width: 90%;
background-color: #333;  
color: #fff;  
padding-bottom: 20px;
text-align:center;
}

.music p {
font-size: .85em;
}

.music p a {
text-decoration:  underline;
}

.music h2 {
margin: 0;
}

.music a{
color:#fff;
text-decoration:  none;
}

.music a:hover{
color:#ccc;
}

.genresback{
background-color: #fff;
padding-top: 5px;
height: 200px;
}

.genredark{
background-color: #333;
color:#fff;
width: 16.66%;
height:190px;
float:left;
}

.genrelight{
background-color: #fff;
color:#000;
width: 16.66%;
height:190px;
float:left;
}

.genredark h3{
padding-top:70px;
}

.genrelight h3{
padding-top:70px;
}

.bumpup{
margin-top:-10px;
}




.rockpop{}

.rockpoptext{
background-color: #333;
margin-top: -200px;
margin-left: 75px;
visibility: hidden;
width: 400px;
height:400px;
border-style: solid;
border-color: #fff;
position: absolute;
z-index: 1;
}

.rockpop:hover .rockpoptext {
visibility: visible;
}

.dancepop{}

.dancepoptext{
background-color: #fff;
margin-top: -200px;
margin-left: 75px;
visibility: hidden;
width: 400px;
height:400px;
border-style: solid;
border-color: #333;
position: absolute;
z-index: 1;
}

.dancepop:hover .dancepoptext {
visibility: visible;
}

.jazzpop{}

.jazzpoptext{
background-color: #333;
margin-top: -200px;
margin-left: 75px;
visibility: hidden;
width: 400px;
height:400px;
border-style: solid;
border-color: #fff;
position: absolute;
z-index: 1;
}

.jazzpop:hover .jazzpoptext {
visibility: visible;
}

.funkpop{}

.funkpoptext{
background-color: #fff;
margin-top: -200px;
margin-left: -100px;
visibility: hidden;
width: 400px;
height:400px;
border-style: solid;
border-color: #ccc;
position: absolute;
z-index: 1;
}

.funkpop:hover .funkpoptext {
visibility: visible;
}

.oldpop{}

.oldpoptext{
background-color: #333;
margin-top: -200px;
margin-left: -200px;
visibility: hidden;
width: 400px;
height:400px;
border-style: solid;
border-color: #fff;
position: absolute;
z-index: 1;
}

.oldpop:hover .oldpoptext {
visibility: visible;
}

.anypop{}

.anypoptext{
background-color: #fff;
margin-top: -200px;
margin-left: -275px;
visibility: hidden;
width: 400px;
height:400px;
border-style: solid;
border-color: #ccc;
position: absolute;
z-index: 1;
}

.anypop:hover .anypoptext {
visibility: visible;
}


.poptextleft{
width:40%;
margin-top:100px;
float:left;
}

.poptextright{
width:60%;
margin-top:10px;
margin-left:-20px;
float:left;
}

.poptextright ul{
list-style-type: none;
}



.title{
display:block;
width:100%;
text-transform: uppercase;
font-size: .8em;
}

.titlelong{
display:block;
width:100%;
text-transform: uppercase;
font-size: .8em;
margin-bottom: 10px;
}

.artist{
display:block;
width:100%;
font-size: .75em;
font-weight: 700;
margin-top: -5px;
margin-bottom: 5px;
}

.booking{
float:left;
width:80%;
margin-left:10%;
padding-top:50px;
}

.booking h2{
text-align: center;
}

.booking h6{
text-align: center;
margin-bottom: 40px;
}

.linkcontainer2{
width:33.33%;
float:left;
}

.thelink{
width:80%;
float:left;
margin-left:auto;
margin-right:auto;
}

.thelink:hover{
background-color: #ccc;
opacity: 0.7;
filter: alpha(opacity=70); /* For IE8 and earlier */
}


.thelink img{
width:100%;
}

.textoverlay{
background-color: #111;
opacity: 0.8;
filter: alpha(opacity=80); /* For IE8 and earlier */
margin-top:-200px;
color:#fff;
text-align: center;
padding-left: 10px;
padding-right: 10px;
}

.textoverlay h3{
text-transform: lowercase;
}

.textoverlay span{
text-transform: uppercase;
font-size: .8em;
font-weight: 500;
}

.reviewsandrecognition{
width: 90%;
float:left;
margin-left:5%;
}

.reviews{
width:80%;


}

.clientssay{
float: left;
width: 60%;
margin-top: 200px;
text-align: center;
border-color:#F03828;
border-style: solid;
border-width: 1px;
}

.clientssay h2{
background-color: #F03828;
color:#fff;
margin-top: 0px;
padding-top:5px;
padding-bottom:5px;
}

.clientssay h3{
text-transform: uppercase;
text-align:left;
font-size:.9em;
font-weight:700;
}

.clientssay p{
font-size:.8em;
text-align:left;
}

.clientssay h6{
font-size:.75em;
text-align:right;
}

.quote{
margin-top:50px;
height:300px;
}

.quotebuttonleft{
float:left;
margin-top: -210px;
height: 100px;
}

.quotebuttonright{
float:right;
margin-top: -210px;
height: 100px;
}

.awards{
float: right;
width: 35%;
margin-top: 200px;
text-align: center;
border-color:#333;
border-style: solid;
border-width: 1px;
}

.awards h2{
background-color: #333;
color:#fff;
margin-top: 0px;
padding-top:5px;
padding-bottom:5px;
}

.awardsimagecontainer{
margin-top: 5px;
margin-bottom:5px;
width:33.33%;
float:left;
}

.awardsimagecontainer img{
width:80%;
margin-left:auto;
margin-right:auto;
}

.contactrow{
width:90%;
float:left;
margin-left: 5%;
margin-top:50px;
}

.promopack{
text-transform: uppercase;
text-align: center;
float:left;
height:500px;
width:48%;
background-color:#F03828;
}

.promopack a {
display:block;
width:60%;
margin-left:auto;
margin-right:auto;
margin-top:250px;
color:#fff;
font-size:1.5em;
text-decoration:  none;
}

.contact{
float:right;
height:500px;
width:48%;
background-image: url("/bachelorboysband/img/links/BAND_12PC_BW.jpg");
background-size: 100% 500px;;
}

.contact a {
display:block;
width:200px;
text-align:center;
background-color: #fff;
color: #000;
font-size:1.5em;
text-decoration:  none;
margin-left:auto;
margin-right:auto;
margin-top:250px;
padding:20px;
}

.getyourquote{
width:100%;
float:left;
background-color: #0C194B;
margin-top:50px;
text-align:center;
}

.getyourquote:hover{
background-color:#333;
}

.getyourquote a {
color:#fff;
text-transform: uppercase;
text-decoration:none;
font-size:1.5em;
}

.getyourquote a:hover{
color: #0C194B;
}

.thefoot{
width:100%;
float:left;
background-color:#F03828;
text-align:center;
font-size:.8em;
padding-top:30px;
padding-bottom:50px;
}




/* -- END FIRST PAGE "WHO WE ARE" css -- */







/* -- responsive code below here -- */
/* -- responsive code below here -- */
/* -- responsive code below here -- */
/* -- responsive code below here -- */


@media screen and (max-width: 750px) {
.topnav {
    overflow: hidden;
	background-color: #fff;
	width: 100%;
	margin-left:auto;
	margin-right:auto;
}
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: left;
    display: block;
  }
  
  .logoimage{
width: 100%;
height: 75px;
background-color: #333;
margin-top:-70px;
position: absolute;
z-index: 1;
}

.logoimagecenter{
    margin-left:50%;
	margin-top:-70px;
	width:120px;
	height:75px;
}

.centertext{
font-size: .8em;
}

.logoimageposition{
margin-left:-130px;
}

.shows{
width: 90%;
}

.linkcontainer{
width: 100%;
}

.circlelink{

width: 100%;

}

.circlelinkbottom{
padding-bottom: 5px;
}

.showlist{
width: 100%;
}

.videocontainer1{
width: 95%;
margin-left:4%;

}

.videocontainer2{
width: 95%;
margin-left:4%;
}

.music {
margin-top:30px;
}

.genredark{
width: 33.33%;
}

.genrelight{
width: 33.33%;
}

.bumpup{
margin-top:5px;
}


/* -- checkerboard genres -- */

.rockpoptext{
margin-top: -110px;
margin-left: 15px;
width: 300px;
height:300px;
}

.dancepoptext{
margin-top: -110px;
margin-left: -75px;
width: 300px;
height:300px;
}

.jazzpoptext{
margin-top: -110px;
margin-left: -150px;
width: 300px;
height:300px;
}

.funkpoptext{
margin-top: -280px;
margin-left: 10px;
width: 300px;
height:300px;
}

.oldpoptext{
margin-top: -280px;
margin-left: -100px;
width: 300px;
height:300px;
}

.anypoptext{
margin-top: -280px;
margin-left: -170px;
width: 300px;
height:300px;
}


.poptextleft{
width:40%;
margin-top:50px;
float:left;
}

.poptextright{
width:60%;
margin-top:0px;
margin-left:-20px;
float:left;
}

.poptextright ul{
list-style-type: none;
}



.title{
display:block;
width:100%;
text-transform: uppercase;
font-size: .75em;
}

.titlelong{
display:block;
width:100%;
text-transform: uppercase;
font-size: .7em;

}

.artist{
display:block;
width:100%;
font-size: .25em;
visibility: hidden;
}


.linkcontainer2{
width:33.33%;
}

.textoverlay span{
visibility:hidden;
}

.textoverlay{
margin-top:-100px;
font-size: .4em;
}

.textoverlay h3{
text-transform: lowercase;
}

.textoverlay span{
font-size: .05em;
}

.clientssay{
width: 100%;
margin-top: 200px;
}

.quote{
height:300px;
}

.awards{
float: left;
width: 100%;
}

.promopack{
height:200px;
width:100%;
}

.promopack a {
font-size:1.5em;
margin-top:50px;
}

.contact{
float:left;
height:250px;
width:100%;
background-size: 100%;
margin-top: 30px;
}

.contact a {
width:30%;
font-size:1.5em;
margin-top:170px;
padding: 5px;
}







  
  
}



/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 750px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* -- responsive code below here -- */
/* -- responsive code below here -- */
/* -- responsive code below here -- */
/* -- responsive code below here -- */

@media screen and (min-width: 750px) {

.linkcontainer{
width: 20%;
float: left;
}

.circlelink{
width: 160px;
height: 160px;
border-radius: 500px;
margin-top:20px;
margin-left:20px;
}

.videocontainer1{
margin-left:5%;
width: 46%;
float:left;
}
.videocontainer2{
margin-right:3%;
width: 46%;
float:right;
}


}







